#body {
  font-family: Montserrat;
}

#title {
  background-color: #ff4c68;
  color: white;
  font-family: Montserrat-Black;
  font-weight: bold;
}

.heading {
  color: white;
  font-weight: normal;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

.h3 {
  font-weight: bold;
}

.p {
  font-weight: lighter;
}

.greytext {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.button-padded {
  margin: auto 2% auto 2%;
}

.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
  color: SlateGrey;
}

.title-image {
  width: 250px;
  transform: rotate(20deg);
  padding-top: 5%;
  position: absolute;
}

#features {
  background-color: white;
  position: relative;
}

.pink-icon {
  color: #ef8172;
  font-size: 3rem;
}

.pink-icon:hover {
  color: #ff4c68;
}

.centered {
  text-align: center;
}

.padded {
  padding: 5% 5% 5% 5%;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.margin {
  margin: auto;
  width: 50%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 2% 3%;
}

#pricing {
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  color: white;
  font-family: Montserrat-Black;
  font-weight: bold;
  text-align: center;
}
